/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Mar-2016, 12:26:29
    Author     : Amon Jafarbay <amonjafarbay at 22pointsix.co.uk>
*/

//main styles

body {
    background: #fefefe;
}
#container.main-container {
    margin-top:0px;
    padding-top:90px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill  {
    background:white;
}

//FAB
//=========================================

div[data-ui-view='header'] {position:relative;z-index:999}

.md-fab{

}

#main-toolbar {
    position:fixed;
    top:0;
    padding-bottom:4px;
    /*background-color: lightslategray;*/
    h2 {margin:0;}
    & > .md-toolbar-tools {
        width:90%;
        position: relative;
        z-index:9995;
    }
}

#user-toolbar {
    color:white;
    position: fixed;
    height: 68px;
    width: 100%;
    top: 0;
    z-index: 9990;
    -webkit-transition: z-index 0.3s ease;
    -moz-transition: z-index 0.3s ease;
    -o-transition: z-index 0.3s ease;
    transition: z-index 0.3s ease;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
    &.md-is-open {
        z-index: 9999;
        -webkit-transition-delay: 00ms;
        -moz-transition-delay: 00ms;
        -o-transition-delay: 00ms;
        transition-delay: 00ms;
    }
    h1,h2,h3,h4,h5 {color:white}
    a {color:#777}
    /*&.md-is-open {width:100%;right:auto;}*/
}

//input edits
md-autocomplete[md-floating-label] md-input-container {
    padding-bottom:0;
}


/*MATERIAL ICONS*/
/*==========================================*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26) !important; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important; }



//helper
.wide-min-width {min-width:600px;}

.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.transition.slow {
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;
}