/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Mar-2016, 12:26:29
    Author     : Amon Jafarbay <amonjafarbay at 22pointsix.co.uk>
*/

//main styles

body {
    background: #efefef;
}

//FAB
//=========================================

.md-fab{

}

#main-toolbar {
    position:fixed;
    top:0;
    padding-bottom:4px;
    background-color: lightslategray;
    h2 {margin:0;}
}

#user-toolbar {
    color:white;
    h1,h2,h3,h4,h5 {color:white}
    a {color:#777}
    
}

/*MATERIAL ICONS*/
/*==========================================*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26) !important; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important; }


//MD TABLE COPIED STYLES
md-toolbar h2,h3,h4,h5 {color:white;}
md-toolbar.md-dark h2,h3,h4,h5 {color:#444;}
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  color: #1e88e5;
  font-size: 16px;
  background-color: #e3f2fd;
}
md-toolbar.md-table-toolbar form {
  margin-left: 16px;
}
md-toolbar.md-table-toolbar form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-table-toolbar form > input:focus {
  outline: none;
}
md-dialog > md-dialog-content.md-dialog-content {
  padding-bottom: 0;
}
md-dialog > md-dialog-content > p {
  margin: 16px 0;
  color: rgba(0, 0, 0, .54);
  line-height: 22px;
}
md-dialog > md-dialog-content > p.md-warn {
  color: #f44336;
}
md-dialog > md-dialog-content > form:last-child > md-input-container:last-child {
  padding-bottom: 0;
}
md-dialog > .md-actions > .md-button {
  min-width: 60px;
}
md-dialog[delete-dialog] {
  max-width: 300px;
}
md-dialog[add-item-dialog] > md-dialog-content > form > .input-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
md-dialog[add-item-dialog] > md-dialog-content > form > .input-row > md-input-container {
  min-width: 120px;
}