<md-content layout-padding>

    <form class="form-vertical" role="form" name="listForm"
          autocomplete="off" 
          ng-submit="saveList()"
          >
        <div layout="row">
            <div flex="50" layout-margin>
                <md-input-container class="md-block">
                    <label>List name</label>
                    <input type="text" name="name" 
                           ng-model="list.name"
                           minlength="3"
                           required 
                           />
                    <div ng-messages="listForm.name.$error" multiple md-auto-hide="false">
                        <div ng-message="minlength">The name has to be at least 3 characters.</div>
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Default script</label>
                    <md-select ng-model="list.defaultScript">
                        <md-option ng-value="script.id" ng-repeat="script in scripts">{{ script.name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <text-angular 
                        required
                        ng-model="list.info"
                        >                        
                    </text-angular>
                </md-input-container>


            </div>

            <div flex="50" layout-margin>

                <!--<md-file-upload fu-file-name="'filesToUpload'" fu-payload="{listId : list.id }" fu-upload-url="'http://localhost:5037/list/upload'">-->
                <md-file-upload fu-file-name="'filesToUpload'" fu-upload-url="'http://localhost:5037/list/upload/'+list.id">

                </md-file-upload>
            </div>

        </div>
        <md-button type="submit" class="md-primary md-raised "
                   ng-disabled="!listForm.$valid"
                   >
            Save
        </md-button>

        <md-button type="button" class="md-button md-raised "
                   ng-click="$state.go('lists')"
                   >
            Cancel
        </md-button>

        <md-button type="button" class="md-warn md-raised"
                   ng-show="$state.current.name === 'list'"
                   ng-click="confirmDelete($event)"
                   >
            Delete
        </md-button>

    </form>

    <!-- enctype="multipart/form-data" -->
    <!--<form id="uploadForm"
          enctype="multipart/form-data"
          action="http://localhost:5037/list/upload"
          method="post">
            <input type="file" name="avatar" />
    <input id="fileInput" name="avatar1" type="file" class="ng-hide">
    <label for="fileInput" id="uploadButton"
               class="md-button md-raised md-primary"
               aria-label="attach_file">
        Upload file
    </label>
            <input type="submit" value="submit"/>
    </form>         -->


</md-content>