
<section layout="column">
    <!--Table header-->
    <md-card>
        <md-toolbar class="md-table-toolbar md-default md-dark" ng-hide="showFilter || query.selected.length">
            <div class="md-toolbar-tools">
                <h2>
                    <a data-ui-sref="campaigns">
                        <md-tooltip>Go back to campaign list</md-tooltip>
                        <md-icon class="material-icons">arrow_back</md-icon>
                        <strong>{{campaign.name}}</strong>
                    </a> Lists ({{query.itemCount}})
                </h2>
                <div flex></div>
                <!--<md-button ng-click="filter.show = true">-->

                <md-button ng-click="showFilter = true" 
                           onclick="event.stopPropagation(); setTimeout(function () {
                                       $('#table-filter').focus()
                                   }, 200);
                                   "
                           >
                    <md-tooltip>Search filter</md-tooltip>
                    <md-icon class="material-icons">search</md-icon>
                </md-button>
                <md-button ng-click="addListDialog($event)">
                    <md-tooltip>Add list</md-tooltip>
                    <md-icon class="material-icons" >note_add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!--prev-->
        <md-toolbar class="md-table-toolbar md-default md-dark" ng-show="showFilter && !query.selected.length">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons">search</md-icon>
                <form flex="" name="filterForm" class="ng-valid flex ng-pristine">
                    <input id='table-filter' tabindex="1" type="text" ng-model="query.searchWord" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()">
                    <md-icon class="material-icons">close</md-icon>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </md-toolbar>
        <!--end prev-->

        <md-toolbar class="md-table-toolbar md-default md-dark" ng-show="query.selected.length">
            
            <div class="md-toolbar-tools" layout-align="space-between">
                <h2>{{query.selected.length}} {{query.selected.length > 1 ? 'lists' : 'list'}} selected</h2>
                <div flex></div>
                
                <md-button class="md-icon-button" ng-click="query.selected.length=0;">
                    <md-tooltip>Clear selection</md-tooltip>
                    <md-icon>not_interested</md-icon>
                </md-button>
                
                <md-button class="md-icon-button" ng-click="deleteListDialog(query.selected)">
                    <md-tooltip>Delete selected list(s)</md-tooltip>
                    <md-icon ng-style="{color: '#aa0000'}">delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-data-table 
            dt-items="query.items"
            dt-item-count="query.itemCount"
            dt-columns="query.columns"
            dt-page="query.currentPage"
            dt-limit="query.itemsPerPage"
            dt-order="query.order"
            dt-on-reorder="dataProvider.onReorder"
            dt-on-paginate="dataProvider.onPaginate"
            dt-on-click="editListDialog(event, item, column)"
            dt-selected="query.selected"            
            >
        </md-data-table>
        
    </md-card>
</section>

