<md-content layout-padding>

  <form class="form-vertical" role="form" name="emailTemplateForm"
        autocomplete="off" 
        ng-submit="saveEmailTemplate()"
        >
    <div layout="row">
      <div flex="50" layout-margin>
        <md-input-container class="md-block">
          <label>Email template name</label>
          <input type="text" name="name" 
                 ng-model="emailTemplate.name"
                 minlength="3"
                 required 
                 />
          <div ng-messages="emailTemplateForm.name.$error" multiple md-auto-hide="false">
            <div ng-message="minlength">The name has to be at least 3 characters.</div>
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <mce-editor 
            mce-options="tinymceOptions"
            mce-model="emailTemplate.body"
            >
          </mce-editor>
          <!--                  <textarea 
                              required
                              ui-tinymce="tinymceOptions" 
                              ng-model="emailTemplate.body"
                              >
                            </textarea>-->

          <!--                    <text-angular 
                                  required
                                  ng-model="emailTemplate.body"
                                  ta-file-drop="dropHandler"
                                  >                        
                              </text-angular>-->
        </md-input-container>


      </div>

      <div flex="50" layout-margin>
        <h2>name shortcode (drag and drop)</h2>
        <span style="display:block">[name]</span>
        <h2>email shortcode (drag and drop)</h2>
        <span style="display:block">[email]</span>

      </div>

    </div>
    <md-button type="submit" class="md-primary md-raised "
               ng-disabled="!emailTemplateForm.$valid"
               >
      Save
    </md-button>

    <md-button type="button" class="md-button md-raised "
               ng-click="$state.go('emailTemplates')"
               >
      Cancel
    </md-button>

    <md-button type="button" class="md-warn md-raised"
               ng-show="$state.current.name === 'emailTemplate'"
               ng-click="confirmDelete($event)"
               >
      Delete
    </md-button>

  </form>
</md-content>