
<section layout="column">
    <!--Table header-->
    <md-card>
        <!--<md-toolbar class="md-table-toolbar" ng-hide="filter.show || selected.length">-->
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools">
                <h2>Clients ({{query.itemCount}})</h2>
                <div flex></div>
                <!--<md-button ng-click="filter.show = true">-->
              <form flex="" name="filterForm" class="flex md-whiteframe-z1">
                <input type="text" ng-model="query.searchWord" placeholder="search" aria-invalid="false">
              </form>
                <md-button>
                    <md-icon class="material-icons md-light">search</md-icon>
                </md-button>
                <md-button class="md-fab" data-ui-sref="admin.client.add">
                    <md-tooltip>Add client</md-tooltip>
                    <md-icon class="material-icons md-light" >person_add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools" layout-align="space-between">
              <div>{{selected.length}} {{selected.length > 1 ? 'users' : 'user'}} selected</div>
              <md-button class="md-icon-button" ng-click="delete($event)">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
        </md-toolbar>

        <!--table-->
        <md-data-table 
            dt-items="query.items"
            dt-item-count="query.itemCount"
            dt-columns="query.columns"
            dt-page="query.currentPage"
            dt-limit="query.itemsPerPage"
            dt-order="query.order"
            dt-on-reorder="dataProvider.onReorder"
            dt-on-paginate="dataProvider.onPaginate"
            >
        </md-data-table>
        
<!--        <md-table-container>
            <table md-table >
                <thead md-head md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row ng-if="items.length > 0">
                        <th md-column 
                            ng-attr-md-order-by="{{item.sortable===false?undefined:item.column}}" 
                            ng-repeat="item in titleItems"
                        >
                            <md-tooltip ng-if="item.sortable!==false">Sort by {{ item.title }}</md-tooltip>
                            {{ item.title }}
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-if="items.length > 0" md-auto-select md-select="client" md-select-id="{{client.name}}" ng-repeat="client in items">
                        <td md-cell><a data-ui-sref="admin.client({clientId: client.id})">{{client.name}}</a></td>
                        <td md-cell>{{client.contactName}}</td>
                        <td md-cell>{{client.campaigns.length}}<a ui-sref="campaigns({clientId: client.id})"> View</a></td>
                        <td md-cell>4567</td>
                    </tr>
                    <tr md-row ng-if="items.length === 0">
                        <td md-cell><em>No clients found.</em><span ng-if="currentUser.admin">Go ahead and <a
                            data-ui-sref="admin.client.add"
                            data-tooltip="Add new client"><em>create one.</em></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{itemCount}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>-->
        </md-card>
</section>

