
<section layout="column">
    <!--Table header-->
      <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="roll-in">
  This is removed when the checkbox is unchecked.
</span>
    <md-card>
        
        <ra-data-table-toolbar
            table-title=' "Clients" '
            query="query"
            toolbar-btns ="toolbarBtns"
        ></ra-data-table-toolbar>

        <!--table-->
        <md-data-table 
            dt-items="query.items"
            dt-item-count="query.itemCount"
            dt-columns="query.columns"
            dt-page="query.currentPage"
            dt-limit="query.itemsPerPage"
            dt-order="query.order"
            dt-on-reorder="dataProvider.onReorder"
            dt-on-paginate="dataProvider.onPaginate"
            >
        </md-data-table>
        
    </md-card>
</section>

