<header>
<!--    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Boilerplate</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <ul class="nav navbar-nav">
                <li class="{{item.class}}"
                    data-ng-repeat="item in navigationItems"
                    data-ng-show="auth.authorize(item.access)"
                    data-ng-class="{'not-active': isNotActive(item), 'active': isActive(item)}"
                    data-ui-sref-active="active"
                >
                    <a href="#"
                        data-ui-sref="{{item.state}}"
                    >{{item.title}}</a>
                </li>

                <li class="pull-right"
                    data-ui-sref-active="active"
                    data-ng-show="!auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="auth.login">Login</a>
                </li>

                <li class="pull-right"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ng-click="logout()">Logout</a>
                </li>

                <li class="pull-right"
                    data-ui-sref-active="active"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="profile.edit">{{user().username}}</a>
                </li>
            </ul>
        </div>
    </div>-->

    <md-toolbar id="main-toolbar">
          <div class="md-toolbar-tools">
            <h2>
              <span>Contact Centre</span>
            </h2>
              <md-button aria-label="navigation to {{ item.title }}"
                       data-ui-sref="{{ item.state }}"
                       data-ng-repeat="item in navigationItems"
                       data-ng-show="auth.authorize(item.access)"
                       data-ng-class="{'not-active': isNotActive(item), 'md-raised': isActive(item)}"
                       data-ui-sref-active="active"
                       ui-sref-opts="{reload:true}"
            >
                {{ item.title }}
            </md-button>
          </div>
            <md-fab-toolbar id="user-toolbar" md-open="false" count="0" class="fixed-toolbar" md-direction="left">
                <md-fab-trigger class="align-with-text">
                  <md-button aria-label="menu" class="md-fab md-hue-2">
                    <!--<md-icon md-svg-src="/assets/img/menu.svg"></md-icon>-->
                    <md-icon class="material-icons md-light ng-scope ng-isolate-scope">settings</md-icon>
                  </md-button>
                </md-fab-trigger>
                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">

                    <md-button data-ng-show="!auth.isAuthenticated()" data-ui-sref="auth.login" class="md-raised">
                        <md-icon class="material-icons ng-scope ng-isolate-scope">face</md-icon>
                        Log in
                    </md-button>
                      <md-button data-ng-show="auth.isAuthenticated()" class="md-raised" data-ng-click="logout()" aria-label="logout">
                          <md-icon class="material-icons ng-scope ng-isolate-scope">exit_to_app</md-icon>
                          Log out
                      </md-button>
                    <h5 data-ng-show="auth.isAuthenticated()" class="float-left">You are logged in as <a href="#" data-ui-sref="profile.edit">{{user().username}}</a></h5>
                  </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>
    </md-toolbar>
    
</header>


