
<!--<fieldset class="standard">-->
<!--<label for="{{formName + index}}" ng-class="{'fb-required':required}">{{label}}</label> 
<div flex-xs flex="50" ng-repeat="item in options track by $index">
  <md-checkbox  ng-model="$parent.inputArray[$index]">
    {{ item}}
  </md-checkbox>
</div>-->
<!--</fieldset>-->

<md-input-container>
  <label for="{{formName+index}}">{{label}}</label>
  <md-select ng-model="inputText">
  <md-option ng-repeat="value in options" 
             ng-init="inputText = options[0]"
             value="{{value}}"
             id="{{formName+index}}" 
             >
            {{value}}
          </md-option>    
  </md-select>
    <select ng-options="value for value in options" 
            id="{{formName+index}}" 
            class="form-control"            
            ng-model="inputText" 
            ng-init="inputText = options[0]"/>
    <!--<p class='help-block'>{{description}}</p>-->    
</div>
</md-input-container>