<ng-form name="miForm">
    <div layout="row" ng-repeat="item in $ctrl.miItems">
<!--        <md-input-container flex class="md-block"                     
                            >
            <label if-ng="item.label">{{item.label}}</label>
            <input type="text" name="input_{{$index}}"
                   data-ng-model="item.value"
                   required="required"
                   />

            <div ng-messages="miForm['input_'+$index].$error" multiple md-auto-hide="false">
                <div ng-message="required">This field is required.</div>
            </div>
        </md-input-container>-->
        <md-autocomplete
            required="true"
            md-floating-label="{{item.label?item.label:'Level '+($index+1)}}"
            md-selected-item="item.selectedItem" 
            md-search-text="item.value" 
            md-items="sugg in $ctrl.querySearch(item.value, item)" 
            md-item-text="sugg.display"
            md-min-length="0"
            ng-click=""
            flex
            >
            <md-item-template>
                <span md-highlight-text="item.value">{{sugg.display}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-button ng-if="!$ctrl.miStatic" class="md-fab md-mini md-primary" ng-click="$ctrl.addField($index)" tabIndex="-1">
            <md-tooltip>Add field after</md-tooltip>
            <md-icon class="material-icons md-light" >add</md-icon>
        </md-button>
        <md-button ng-if="!$ctrl.miStatic" class="md-fab md-mini" ng-click="$ctrl.deleteField($index)" tabIndex="-1">
            <md-tooltip>Remove current line</md-tooltip>
            <md-icon class="material-icons md-light" >clear</md-icon>
        </md-button>
<!--        <md-button class="md-fab md-mini" ng-click="$ctrl.logger(item)" tabIndex="-1">
            <md-tooltip>Remove current line</md-tooltip>
            <md-icon class="material-icons md-light" >info</md-icon>
        </md-button>-->
    </div>

</ng-form>