<!--table-->
<md-table-container>
  <!--FAB-->
  <ng-form name="dtForm">
    <table md-table ng-attr-md-row-select="$ctrl.dtSelected === undefined?undefined:true" ng-attr-ng-model="$ctrl.dtSelected"  >
      <thead md-head md-order="$ctrl.dtOrder" md-on-reorder="$ctrl.dtOnReorder({order:order})">
        <tr md-row ng-if="$ctrl.dtMappedTo">
          <th md-column 
              ng-repeat="column in $ctrl.dtColumns"
              >
      <md-autocomplete 
        name="field{{$index}}"
        md-selected-item="$ctrl.dtMappedTo[column.title].mappedTo"
        md-search-text="$ctrl.dtMappedTo[column.title].searchText"
        md-items="field in $ctrl.querySearch($ctrl.dtMappedTo[column.title].searchText)"
        md-item-text="field.name"
        md-floating-label="link column to:"
        md-min-length="0"
        md-match-case-insensitive
        >
        <!--        md-search-text-change="$ctrl.textChange($ctrl.dtMappedTo[column.title])"
                ng-blur="$ctrl.textChange($ctrl.dtMappedTo[column.title])"-->
        <md-item-template>
          <span md-highlight-text="$ctrl.dtMappedTo[column.title].searchText">{{field.name}}</span>
        </md-item-template>

        <div ng-messages="$ctrl.mappingValidator(column)" 
             >
          <!--ng-if="$ctrl.dtMappedValidator({column:column})"-->
          <div ng-message="mapped" ng-style="{color:'green'}">Linked field</div>
          <div ng-message="short" ng-style="{color:'red'}">Min 2 characters</div>
          <div ng-message="empty" ng-style="{color:'grey'}">Unlinked</div>
          <div ng-message="new" ng-style="{color:'blue'}">New global link</div>
        </div>
      </md-autocomplete>
      </th>
      </tr>
      <tr md-row>
        <th md-column 
            ng-repeat="column in $ctrl.dtColumns"
            ng-attr-md-order-by="{{column.sortable===false?undefined:column.column}}" 
            >
      <md-tooltip ng-if="column.sortable !== false">Sort by {{ column.title}}</md-tooltip>
      <span ng-bind-html="$ctrl.getColumnTitle(column) | $trustedHtml"></span>
      </th>
      </tr>
      </thead>
      <tbody md-body class="">
        <tr md-row md-auto-select tabindex="-1"
            md-select="item" md-select-id="" 
            ng-repeat="item in $ctrl.dtItems"
            class="ngr-fade-in"
            ng-attr-ng-click="$ctrl.dtOnRowClick({event: $event, item: item, index: $index})"
            >
          <td md-cell
              ng-repeat="column in $ctrl.dtColumns"
              >
      <md-button class="md-primary" 
                 ng-if="column.sref" 
                 data-ui-sref="{{column.sref}}"
                 >{{$ctrl.getValue(item, column)}}</md-button>
      <md-button class="md-primary" 
                 ng-if="$ctrl.isClickable(item, column) && $ctrl.dtOnClick" 
                 ng-click="$ctrl.dtOnClick({event: $event, item: item, column: column});$event.stopPropagation();"
                 >{{$ctrl.getValue(item, column)}}</md-button>
      <span ng-if="!(column.sref || ($ctrl.isClickable(item, column) && $ctrl.dtOnClick))">{{$ctrl.getValue(item, column)}}</span>
      <img style="height:48px;width:auto" ng-if="$ctrl.isSpinner(item, column);" ng-src="{{$ctrl.dtSpinner}}"/>
      </td>
      </tr>
      <tr md-row ng-if="$ctrl.dtItems.length === 0">
        <td colspan="{{ $ctrl.dtColumns.length}}" md-cell>
          <em>No items found.</em>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-form>
</md-table-container>
<md-table-pagination 
  md-limit="$ctrl.dtLimit" 
  md-page="$ctrl.dtPage" 
  md-total="{{$ctrl.dtItemCount}}" 
  md-on-paginate="$ctrl.dtOnPaginate({page:page, limit:limit})" 
  md-page-select>            
</md-table-pagination>
