    <!--table-->
    <md-table-container>
        <!--FAB-->
        <table md-table ng-attr-md-row-select="$ctrl.dtSelected === undefined?undefined:true" ng-attr-ng-model="$ctrl.dtSelected"  multiple>
            <thead md-head md-order="$ctrl.dtOrder" md-on-reorder="$ctrl.dtOnReorder({order:order})">
                <tr md-row>
                    <th md-column 
                        ng-repeat="column in $ctrl.dtColumns"
                        ng-attr-md-order-by="{{column.sortable===false?undefined:column.column}}" 
                        >
                        <md-tooltip ng-if="column.sortable !== false">Sort by {{ column.title}}</md-tooltip>
                        <span ng-bind-html="$ctrl.getColumnTitle(column) | $trustedHtml"></span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <!--<tr md-row md-auto-select md-select="list" md-select-id="{{list.name}}" ng-repeat="list in items">-->
                <tr md-row md-auto-select md-select="item" md-select-id="" ng-repeat="item in $ctrl.dtItems">
                    <td md-cell
                        ng-repeat="column in $ctrl.dtColumns"
                        >
                        <a ng-if="column.sref" data-ui-sref="{{column.sref}}">{{$ctrl.getValue(item, column)}}</a>
                        <a ng-if="$ctrl.isClickable(item,column) && $ctrl.dtOnClick" ng-click="$ctrl.dtOnClick({event:$event, item:item, column:column});$event.stopPropagation();">{{$ctrl.getValue(item, column)}}</a>
                        <span ng-if="!(column.sref || ($ctrl.isClickable(item,column) && $ctrl.dtOnClick))">{{$ctrl.getValue(item, column)}}</span>
                        <img style="height:48px;width:auto" ng-if="$ctrl.isSpinner(item, column);" src="{{$ctrl.dtSpinner}}"/>
                    </td>
                </tr>
                <tr md-row ng-if="$ctrl.dtItems.length === 0">
                    <td colspan="{{ $ctrl.dtColumns.length }}" md-cell>
                        <em>No items found.</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination 
        md-limit="$ctrl.dtLimit" 
        md-page="$ctrl.dtPage" 
        md-total="{{$ctrl.dtItemCount}}" 
        md-on-paginate="$ctrl.dtOnPaginate({page:page, limit:limit})" 
        md-page-select>            
    </md-table-pagination>
