    <!--table-->
    <md-table-container>
        <!--FAB-->
        <table md-table >
            <thead md-head md-order="$ctrl.dtOrder" md-on-reorder="$ctrl.dtOnReorder({order:order})">
                <tr md-row>
                    <th md-column 
                        ng-repeat="column in $ctrl.dtColumns"
                        ng-attr-md-order-by="{{column.sortable===false?undefined:column.column}}" 
                        >
                        <md-tooltip ng-if="column.sortable !== false">Sort by {{ column.title}}</md-tooltip>
                        {{ column.title}}
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <!--<tr md-row md-auto-select md-select="list" md-select-id="{{list.name}}" ng-repeat="list in items">-->
                <tr md-row ng-repeat="item in $ctrl.dtItems">
                    <td md-cell
                        ng-repeat="column in $ctrl.dtColumns"
                        >
                        <a ng-if="column.sref && column.sref!==false" data-ui-sref="{{column.sref}}">{{$ctrl.isArray(item[column.column])}}</a>
                        <span ng-if="!(column.sref && column.sref!==false)">{{$ctrl.isArray(item[column.column])}}</span>
                    </td>
                </tr>
                <tr md-row ng-if="$ctrl.dtItems.length === 0">
                    <td colspan="$ctrl.dtColumns.length" md-cell>
                        <em>No lists found.</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination 
        md-limit="$ctrl.dtLimit" 
        md-page="$ctrl.dtPage" 
        md-total="{{$ctrl.dtItemCount}}" 
        md-on-paginate="$ctrl.dtOnPaginate({page:page, limit:limit})" 
        md-page-select>            
    </md-table-pagination>
