
<ng-form ng-if="$ctrl.afAction.value === 'Send Email'">
  <div layout="row">
    <div flex="50%">
      <md-input-container>
        <label>Recipients</label>
        <input type="text" 
               data-ng-model="$ctrl.afAction.form.recipients"
               data-ng-minlength="3"
               required="required" name="recipients"
               />
      </md-input-container>
    </div>
    <div flex="50%">
      <md-input-container>
        <label>Template</label>
        <md-select ng-model="$ctrl.afAction.form.template">
          <md-option ng-value="template.id" ng-repeat="template in $ctrl.afEmailTemplates">{{ template.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</ng-form>

<ng-form ng-if="$ctrl.afAction.value === 'Set Status'">
  <div layout="row">
    <div flex="50%">
      <md-input-container>
        <label>Status</label>
        <md-select ng-model="$ctrl.afAction.form.status">
          <md-option ng-value="status.id" ng-repeat="status in $ctrl.afStatuses">{{ status.name}}</md-option>
        </md-select>
<!--        <input type="text" 
               data-ng-model="$ctrl.afAction.form.status"
               data-ng-minlength="3"
               required="required" name="status"
               />-->
      </md-input-container>
    </div>
    <div flex="50%">
      <md-input-container>
        <label>Value</label>
        <input type="text" 
               data-ng-model="$ctrl.afAction.form.value"
               data-ng-minlength="3"
               required="required" name="value"
               />
      </md-input-container>
    </div>
  </div>
</ng-form>
