<h3>
    Users ({{itemCount}})

    <div class="col-xs-6 pull-right list-search">
        <a
            data-ng-if="currentUser.admin"
            data-ui-sref="admin.user.add"
            data-tooltip="Add new user"
        ><i class="fa fa-plus-circle"></i></a>

        <list-search
            data-filters="filters"
            data-options="itemsPerPageOptions"
            data-items="itemsPerPage"
        ></list-search>

        <pagination class="pagination-sm"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="10"
            data-boundary-links="true"
            data-rotate="false"
        ></pagination>
    </div>
</h3>
<section layout="column">
    <!--Table header-->
    <md-card>
        <md-toolbar class="md-table-toolbar" ng-hide="filter.show || selected.length">
            <div class="md-toolbar-tools">
                <h2>Users</h2>
                <div flex></div>
                <md-button ng-click="filter.show = true">
                    <md-icon class="material-icons md-light">search</md-icon>
                </md-button>
                <md-button class="md-fab" data-ui-sref="admin.user.add">
                    <md-icon class="material-icons md-light" >person_add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
            <div class="md-toolbar-tools">
              <md-icon class="material-icons">search</md-icon>
              <form flex="" name="filter.form" class="ng-valid flex ng-pristine">
                <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false">
              </form>
              <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()">
                <md-icon class="material-icons">close</md-icon>
                <div class="md-ripple-container"></div>
              </button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools" layout-align="space-between">
              <div>{{selected.length}} {{selected.length > 1 ? 'users' : 'user'}} selected</div>
              <md-button class="md-icon-button" ng-click="delete($event)">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
        </md-toolbar>

        <!--table-->
        <md-table-container>
            <!--FAB-->
<!--            <md-button class="md-fab overlap-up" aria-label="Eat cake">
                <md-icon class="material-icons">person_add</md-icon>
            </md-button>-->
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column ng-repeat="item in titleItems">{{ item.title }}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-auto-select md-select="user" md-select-id="{{user.username}}" ng-repeat="user in items">
                        <td md-cell><a data-ui-sref="admin.user({id: user.id})">{{user.username}}</a></td>
                        <td md-cell>{{user.firstName}}</td>
                        <td md-cell>{{user.lastName}}</td>
                        <td md-cell>{{user.email}}</td>
                        <td md-cell>
                            <span ng-repeat="role in user.roles">{{role.name}}</span>
                        </td>
                    </tr>
                    <tr md-row ng-if="items.length === 0">
                        <td md-cell><em>No users found.<span ng-if="currentUser.admin">Go ahead and <a
                            data-ui-sref="admin.user.add"
                            data-tooltip="Add new user"><em>create one.</em></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="itemsPerPage" md-page="querly.page" md-total="itemCount" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </md-card>
</section>
