
<section layout="column">
    <!--Table header-->
    <md-card>
        <!--<md-toolbar class="md-table-toolbar" ng-hide="filter.show || selected.length">-->
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools">
                <h2>
                    <a data-ui-sref="admin.clients">
                        <md-tooltip>Go back to clients list</md-tooltip>
                        <md-icon class="material-icons md-light">arrow_back</md-icon>
                        <strong>{{client.name}}</strong>
                        </a> Campaigns ({{query.itemCount}})
                </h2>
                <div flex></div>
                <!--<md-button ng-click="filter.show = true">-->
              <form flex="" name="filter.form" class="ng-valid flex ng-pristine">
                <input type="text" ng-model="query.searchWord" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false">
              </form>
                <md-button>
                    <md-icon class="material-icons md-light">search</md-icon>
                </md-button>
                <md-button class="md-fab" data-ui-sref="campaign.add">
                    <md-tooltip>Add campaign</md-tooltip>
                    <md-icon class="material-icons md-light" >note_add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools" layout-align="space-between">
              <div>{{selected.length}} {{selected.length > 1 ? 'users' : 'user'}} selected</div>
              <md-button class="md-icon-button" ng-click="delete($event)">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
        </md-toolbar>

        <md-data-table 
            dt-items="query.items"
            dt-item-count="query.itemCount"
            dt-columns="query.columns"
            dt-page="query.currentPage"
            dt-limit="query.itemsPerPage"
            dt-order="query.order"
            dt-on-reorder="dataProvider.onReorder"
            dt-on-paginate="dataProvider.onPaginate"
            >
        </md-data-table>
        
    </md-card>
</section>


