<ng-form name="fuForm">
    <input id="fileInput" ng-model="$ctrl.fileName" ng-change="$ctrl.changed()" name="avatar" type="file" class="ng-hide">
    <md-input-container md-no-float>
        <input id="textInput" ng-click="$ctrl.inputClicked()" ng-model="$ctrl.file" type="text" ng-readonly="true" required>
        <label>Click to select file</label>
    </md-input-container>
    <md-button id="uploadButton"
               ng-disabled="!fuForm.$valid"
               class="md-raised md-primary"
               aria-label="attach_file">
        Upload
    </md-button>
</ng-form>