<ra-data-table-toolbar
  query = "$ctrl.dlDataProvider.query"
  tt-search-change="$ctrl.dlDataProvider.triggerFetchData"
  table-title="$ctrl.dlTitle"
  >    
</ra-data-table-toolbar>

<md-data-table 
  dt-items="$ctrl.dlDataProvider.query.items"
  dt-item-count="$ctrl.dlDataProvider.query.itemCount"
  dt-columns="$ctrl.dlDataProvider.query.columns"
  dt-page="$ctrl.dlDataProvider.query.currentPage"
  dt-limit="$ctrl.dlDataProvider.query.itemsPerPage"
  dt-order="$ctrl.dlDataProvider.query.order"
  dt-on-reorder="$ctrl.dlDataProvider.onReorder"
  dt-on-paginate="$ctrl.dlDataProvider.onPaginate"
  dt-on-row-click="$ctrl.onRowClick(event, item, index)"
  >
</md-data-table>
