
<section layout="column">
    <!--Table header-->
    <md-card>
        <!--<md-toolbar class="md-table-toolbar" ng-hide="filter.show || selected.length">-->
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools">
                <h2>Campaigns ({{itemCount}})</h2>
                <div flex></div>
                <!--<md-button ng-click="filter.show = true">-->
              <form flex="" name="filter.form" class="ng-valid flex ng-pristine">
                <input type="text" ng-model="filters.searchWord" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false">
              </form>
                <md-button>
                    <md-icon class="material-icons md-light">search</md-icon>
                </md-button>
                <md-button class="md-fab" data-ui-sref="admin.campaign.add">
                    <md-tooltip>Add campaign</md-tooltip>
                    <md-icon class="material-icons md-light" >add_to_queue</md-icon>
                </md-button>
            </div>
        </md-toolbar>

<!--        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
            <div class="md-toolbar-tools">
              <md-icon class="material-icons">search</md-icon>
              <form flex="" name="filter.form" class="ng-valid flex ng-pristine">
                <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false">
              </form>
              <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()">
                <md-icon class="material-icons">close</md-icon>
                <div class="md-ripple-container"></div>
              </button>
            </div>
        </md-toolbar>-->
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools" layout-align="space-between">
              <div>{{selected.length}} {{selected.length > 1 ? 'users' : 'user'}} selected</div>
              <md-button class="md-icon-button" ng-click="delete($event)">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
        </md-toolbar>

        <!--table-->
        <md-table-container>
            <!--FAB-->
<!--            <md-button class="md-fab overlap-up" aria-label="Eat cake">
                <md-icon class="material-icons">person_add</md-icon>
            </md-button>-->
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row>
                        <th md-column 
                            ng-attr-md-order-by="{{item.sortable===false?undefined:item.column}}" 
                            ng-repeat="item in titleItems"
                        >
                            <md-tooltip ng-if="item.sortable!==false">Sort by {{ item.title }}</md-tooltip>
                            {{ item.title }}
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-auto-select md-select="campaign" md-select-id="{{campaign.name}}" ng-repeat="campaign in items">
                        <td md-cell><a data-ui-sref="admin.campaign({id: campaign.id})">{{campaign.name}}</a></td>
                        <td md-cell>{{campaign.firstName}}</td>
                        <td md-cell>{{campaign.lastName}}</td>
                        <td md-cell>{{campaign.email}}</td>
                    </tr>
                    <tr md-row ng-if="items.length === 0">
                        <td md-cell><em>No campaigns found.</em><span ng-if="currentUser.admin">Go ahead and <a
                            data-ui-sref="admin.campaign.add"
                            data-tooltip="Add new campaign"><em>create one.</em></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{itemCount}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </md-card>
</section>


<h3>
    Campaigns ({{itemCount}})

    <div class="col-xs-6 pull-right list-search">
        <a
            data-ng-if="currentUser.admin"
            data-ui-sref="admin.campaign.add"
            data-tooltip="Add new campaign"
        ><i class="fa fa-plus-circle"></i></a>

        <list-search
            data-filters="filters"
            data-options="itemsPerPageOptions"
            data-items="itemsPerPage"
        ></list-search>

        <pagination class="pagination-sm"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="10"
            data-boundary-links="true"
            data-rotate="false"
        ></pagination>
    </div>
</h3>


<section layout="row">
    <h2>new pager</h2>
<md-table-pagination md-limit="itemsPerPage" md-page="currentPage" md-total="itemCount" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
<p>itemsperpage {{itemsPerPage }}</p>
</section>

<table class="table">
    <thead class="no-select">
        <tr>
            <th class="text-nowrap {{item.class}}"
                data-ng-repeat="item in titleItems"
            >
                <a
                    data-ng-show="item.column"
                    data-ng-click="changeSort(item)"
                    data-ng-bind-html="item.title"
                ></a>
                <span
                    data-ng-show="!item.column"
                    data-ng-bind-html="item.title"
                ></span>

                <i class="fa"
                    data-ng-show="sort.column == item.column"
                    data-ng-class="{'fa-angle-down': !sort.direction, 'fa-angle-up': sort.direction}"
                ></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr
            data-ng-repeat="campaign in items"
        >
            <td class="col-xs-2">
                <a data-ui-sref="admin.campaign({id: campaign.id})">{{campaign.name}}</a>
            </td>
            <td class="col-xs-2">{{campaign.contactName}}</td>
            <td class="col-xs-2">1234</td>
            <td class="col-xs-2">1234</td>
            <!--<td class="col-xs-2">{{campaign.lists.length}}</td>-->
        </tr>

        <tr data-ng-if="items.length === 0">
            <td colspan="100%" class="text-center text-muted">
                <em>no data founded...</em>
            </td>
        </tr>
    </tbody>
</table>

<pagination class="pagination-sm pull-right"
    data-total-items="itemCount"
    data-ng-model="currentPage"
    data-items-per-page="itemsPerPage"
    data-max-size="10"
    data-boundary-links="true"
    data-rotate="false"
></pagination>