<md-content layout-padding>

    <form class="form-vertical" role="form" name="clientForm"
          autocomplete="off" 
          ng-submit="saveClient()"
          >
        <div layout="row">
            <div flex="50" layout-margin>
                <md-input-container class="md-block">
                    <label>Company Name</label>
                    <input type="text" name="name" 
                           ng-model="client.name"
                           minlength="3"
                           required 
                           />
                    <div ng-messages="clientForm.name.$error" multiple md-auto-hide="false">
                        <div ng-message="minlength">The name has to be at least 3 characters.</div>
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address 1</label>
                    <input type="text" name="address1"
                           ng-model="client.address1"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address 2</label>
                    <input type="text" name="address2"
                           ng-model="client.address2"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address 3</label>
                    <input type="text" name="address3"
                           ng-model="client.address3"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Town</label>
                    <input type="text" name="town"
                           ng-model="client.town"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>County</label>
                    <input type="text" name="county"
                           ng-model="client.county"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Country</label>
                    <input type="text" name="country"
                           ng-model="client.country"
                           />
                </md-input-container>

            </div>

            <div flex="50" layout-margin>
                
                <md-input-container class="md-block">
                    <label>Contact name</label>
                    <input type="text" name="contactName"
                           ng-model="client.contactName"
                           />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Primary E-mail</label>
                    <input type="email"  name="email1"
                           ng-model="client.email1"
                           />
                    <div ng-messages="clientForm.email1.$error" multiple md-auto-hide="false">
                        <div ng-message="email">Please enter a valid e-mail.</div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Secondary E-mail</label>
                    <input type="email"  name="email2"
                           ng-model="client.email2"
                           />
                    <div ng-messages="clientForm.email2.$error" multiple md-auto-hide="false">
                        <div ng-message="email">Please enter a valid e-mail.</div>
                    </div>
                </md-input-container>
                

                <md-input-container class="md-block">
                    <label>Primary phone number</label>
                    <input type="text"  name="phone1"
                           ng-model="client.phone1"
                           />
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Secondary phone number</label>
                    <input type="text"  name="phone2"
                           ng-model="client.phone2"
                           />
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Notes</label>
                    <textarea name="notes" rows="5"
                        ng-model="client.notes"
                        >                                  
                    </textarea>
                </md-input-container>
                
            </div>

        </div>
            <md-button type="submit" class="md-primary md-raised "
                       ng-disabled="!clientForm.$valid"
                       >
                Save
            </md-button>

            <md-button type="button" class="md-button md-raised "
                       ng-click="$state.go('admin.clients')"
                       >
                Cancel
            </md-button>

            <md-button type="button" class="md-warn md-raised"
                       ng-show="$state.current.name === 'admin.client'"
                       ng-click="confirmDelete($event)"
                       >
                Delete
            </md-button>

    </form>
</md-content>